/* initialization */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
}
/* variables */
:root {
  --main-color: #4873a4;
  --second-color: #777;
  --background-color: #ddd;
  --main-transition: 0.3s;
  --section-padding: 100px;
}
/* main container */
.container {
  margin: 0 auto;
  position: relative;
}
@media (min-width: 768px) {
  .container {
    width: 760px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 1010px;
  }
}
