/* initialization */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
}
/* variables */
:root {
  --main-color: #4873a4;
  --second-color: #777;
  --third-color: #d9835e;
  --background-color: #ddd;
  --main-transition: 0.3s;
  --section-padding: 100px;
}
/* main container */
.container {
  margin: 0 auto;
  position: relative;
}
@media (min-width: 768px) {
  .container {
    width: 760px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 1010px;
  }
}
/* global elements */
.title {
  width: fit-content;
  padding: 20px;
  margin: 0 auto;
  font-size: 25px;
  text-transform: capitalize;
  color: var(--main-color);
  font-weight: bold;
  border: 2px solid var(--main-color);
  border-radius: 3px;
  position: relative;
}
.title::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
  position: absolute;
  bottom: 5px;
  left: 5px;
  animation: turn 1.5s linear infinite forwards;
}

/* start header */
header {
  background-color: var(--main-color);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  header .container {
    flex-direction: column;
    gap: 20px;
  }
}
header .container .logo {
  height: 72px;
  width: 100px;
}
header .container .logo img {
  max-height: 100%;
}
header .container nav {
  display: flex;
}
header .container nav a {
  padding: 0 20px;
  height: 72px;
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.7px;
}
@media (max-width: 767px) {
  header .container nav a {
    font-size: 15px;
    padding: 0 12px;
  }
  header .container nav a.removeble {
    display: none;
  }
  header .container .logo img {
    border-bottom: 4px solid #fff;
  }
}
header .container nav a:hover {
  animation: change-color 0.5s linear infinite;
  position: relative;
  background-color: #fff;
}
header .container nav a:hover::before {
  content: "";
  width: 80%;
  height: 3px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  animation: change-bg-color 0.5s linear infinite;
}
/* start home section */
.home {
  height: calc(100vh - 72px);
  background-image: url("../images/home-image.jpg");
  background-size: cover;
  background-position: center;
  padding: 50px 0 var(--section-padding);
  position: relative;
}
.home::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  position: absolute;
  top: 0;
  left: 0;
}
.home .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .container h2 {
  text-transform: uppercase;
  font-size: 50px;
  margin: 0 0 100px;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 15px var(--main-color);
}
.home .container p {
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 50px;
}
.home .container form {
  padding: 20px;
  border-radius: 30px;
  background-color: var(--background-color);
  display: flex;
  width: fit-content;
  margin: auto;
  gap: 20px;
}
.home .container form input[type="text"] {
  width: 500px;
  padding: 20px;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 30px;
}
.home .container form input[type="submit"] {
  padding: 10px;
  font-size: 20px;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}
.home .container button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: var(--main-color);
  border: 3px solid var(--main-color);
  background-color: #fff;
  text-align: center;
  margin: 50px auto 0;
}
@media (max-width: 767px) {
  .home {
    height: calc(100vh - 144px);
  }
  .home .container h2 {
    font-size: 35px;
    margin-top: 40px;
  }
  .home .container p {
    font-size: 17px;
    margin-bottom: 100px;
  }
  .home .container form {
    width: 80%;
    padding: 14px;
    margin-bottom: 50px;
  }
  .home .container form input[type="text"] {
    font-size: 17px;
  }
  .home .container form input[type="submit"] {
    font-size: 17px;
    padding: 7px;
    border-radius: 20px;
  }
}
/* start latest section */
.latest {
  min-height: 100vh;
  padding: var(--section-padding) 0;
}
.latest .container {
  padding: 100px 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  gap: 40px;
}
.latest .container .card {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px #ddd;
}
.latest .container .card .img-holder {
  height: 300px;
  overflow: hidden;
  margin-bottom: 20px;
}
.latest .container .card .img-holder img {
  max-width: 100%;
}
.latest .container .card h2 {
  margin: 0 0 20px;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
  color: var(--main-color);
}
.latest .container .card p {
  font-size: 18px;
  color: var(--second-color);
}
.latest .container .card .more {
  padding: 20px 0 0;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid var(--main-color);
}
.latest .container .card .more a {
  color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  flex: 1;
}
.latest .container .card .more i {
  color: var(--main-color);
  position: relative;
}
.latest .container .card .more a:hover + i {
  animation: forward-backward 0.6s linear infinite;
}
/* start categories */
.categories {
  min-height: 100vh;
  padding: var(--section-padding) 0;
}
.categories .container {
  padding: 100px 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: center;
  gap: 20px;
}
.categories .container .card {
  border-radius: 3px;
  box-shadow: 0 0 10px #ddd;
  padding: 15px;
  position: relative;
  cursor: pointer;
}
.categories .container .card .img-holder {
  height: fit-content;
}
.categories .container .card .img-holder img {
  max-width: 100%;
}
.categories .container .card::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.422);
  position: absolute;
  top: 0;
  left: 0;
}
.categories .container .card h2 {
  font-size: 26px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: var(--main-transition);
}
.categories .container .card:hover::after {
  display: none;
}
.categories .container .card:hover h2 {
  width: 100%;
  padding: 20px 0;
  color: #000;
  top: 80%;
  background-color: #fff;
}
/* start trends */
.trends {
  min-height: 100vh;
  padding: var(--section-padding) 0;
}
.trends .container {
  padding: 100px 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  gap: 40px;
}
.trends .container .card {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px #ddd;
}

.trends .container .card img {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 3px;
}
.trends .container .card h2 {
  margin: 0 0 20px;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
  color: var(--main-color);
}
.trends .container .card p {
  font-size: 18px;
  color: var(--second-color);
}
.trends .container .card .more {
  padding: 20px 0 0;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid var(--main-color);
}
.trends .container .card .more a {
  color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  flex: 1;
}
.trends .container .card .more i {
  color: var(--main-color);
  position: relative;
}
.trends .container .card .more a:hover + i {
  animation: forward-backward 0.6s linear infinite;
}
/* animation */
@keyframes change-color {
  0%,
  100% {
    color: #fff;
  }
  50% {
    color: #d9835e;
  }
}
@keyframes change-bg-color {
  0%,
  100% {
    background-color: #d9835e;
  }
  50% {
    background-color: #fff;
  }
}
@keyframes turn {
  0%,
  50%,
  100% {
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
  25% {
    bottom: 5px;
    left: 70%;
  }
  75% {
    bottom: 5px;
    left: 30%;
  }
}
@keyframes forward-backward {
  0% {
    left: 0;
  }
  100% {
    left: 15px;
  }
}
